body{
 	  background-image: url(./images/blah.jpg);
 	  background-repeat: no-repeat;
 	  background-position: center;
 	  background-attachment: fixed;
    background-size: cover;
}
h1{
color:white;
}
